
.app-menu ion-toolbar{
    --min-height: 80px !important;
}

.app-menu ion-thumbnail{
    --border-radius: 50%;
    margin-left: 16px!important;
    --size: 48px;
}

.app-menu ion-title{
    padding-right:8px;
}

.app-menu .multiline-title{
    text-overflow: inherit;
    white-space: normal;
    text-align: left;
    font-size: 18px;
}

.app-menu ion-list{
    background: none !important;
}

.app-menu ion-item{
    --min-height: 60px !important;
    --border-color: var(--ion-color-step-100) !important;
    --background: none !important;
    --padding-start: 0 !important;
    --inner-padding-start: 16px !important;
}

.app-menu .telegram{
    width: 16px;
    height: 16px;
}

.app-menu ion-item img, .app-menu ion-item ion-icon{
    margin-right: 16px;
}

.app-menu ion-avatar{
    margin-right: 0;
    margin-left: 8px;
    width:48px;
    height: 48px;
    background: var(--ion-color-dark);
}

.app-menu ion-button.anonymous{    
    background: var(--ion-color-dark);
    width:48px;
    height: 48px;
    border-radius: 50%;
    margin-left: 8px;
    margin-right: 0;
}

.app-menu  ion-button.anonymous ion-icon{    
    color: var(--ion-color-light);
}