<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751340632845-06qlakntucu809gcklci6c016oqim516.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751340632845-06qlakntucu809gcklci6c016oqim516</string>
	<key>API_KEY</key>
	<string>AIzaSyAzPoze2vELiI9JPW13EStVltUtUGD8rIU</string>
	<key>GCM_SENDER_ID</key>
	<string>751340632845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gh.decentraland</string>
	<key>PROJECT_ID</key>
	<string>decentraland-app</string>
	<key>STORAGE_BUCKET</key>
	<string>decentraland-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751340632845:ios:f79a1492c806e49e670e44</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-1178230042849716~8628726062</string>
</dict>
</plist>